.example-spacer {
    flex: 1 1 auto;
  }
  .mat-list{
    min-width: 16vw;
   min-height:80.2vh;
  
  }
 .list-items{
  color: #e7d6f6;
 }
 .list-items:hover{
  background-color: #e7d6f6;
  color: #5B0888;
 }
  mat-toolbar{
    background-color: #5B0888;
    color: #e7d6f6;
  }
  mat-sidenav{
    background-color: #5B0888;

    
  }
  
  