
    <mat-toolbar >
      <button mat-icon-button class="example-icon mobile" aria-label="Example icon-button with menu icon" (click)="toggle()">
        <mat-icon >menu</mat-icon>
      </button>
      <span routerLink="/home" style="cursor: pointer;">Itinfinity </span>
      <span class="example-spacer"></span>
      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>perm_identity</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
       Login <mat-icon>login</mat-icon>
      </button> -->
      <div class="download">
        <!-- <span id="user-name"  routerLink="/login">Login</span> -->
        <!-- <span id="user-name"  routerLink="/signup">Signup</span> -->
        <a href="assets/newResumeAyush.pdf"  download="newResumeAyush.pdf"><button mat-icon-button >
            <mat-icon id="icon">download</mat-icon>
        </button>
      <span id="user-name">Resume </span> </a>
    </div>
    </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav [(opened)]="opened">
        <mat-nav-list class="mat-list" (click)="toggle()">
            <a mat-list-item class="list-items" routerLink="/home">
                <mat-icon>perm_identity</mat-icon>&nbsp;Profile
            </a>
            <a mat-list-item class="list-items" routerLink="/projects">
                <mat-icon>work</mat-icon>&nbsp;Projects
            </a>
            <a mat-list-item class="list-items" routerLink="/skills" >
                <mat-icon>lightbulb</mat-icon>&nbsp;Skills
            </a>
            <a mat-list-item class="list-items" routerLink="/resume">
                <mat-icon>document_scanner</mat-icon>&nbsp;Resume
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="min-height:90vh;  background-image: linear-gradient(360deg, #e7d6f6, transparent)" >
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
