<div class="main">
    <div class="box">
        <div class="s-details">
            <div class="heading">
                SKILL DETAILS
            </div>
           <!-- table.component.html -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="skill">
      <th mat-header-cell *matHeaderCellDef>SKILL</th>
      <td mat-cell *matCellDef="let element">{{ element.skill }}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="hoexp">
      <th mat-header-cell *matHeaderCellDef>Expericence</th>
      <td mat-cell *matCellDef="let element">{{ element.hoexp }}</td>
    </ng-container>
  
    <!-- Email Column -->
   
        <ng-container matColumnDef="level" >
            <th mat-header-cell *matHeaderCellDef>Level</th>
            <td mat-cell *matCellDef="let element">{{ element.level }}</td>
          </ng-container>

    
   
     <!-- Email Column -->
    <ng-container matColumnDef="percent_bar">
        <th mat-header-cell *matHeaderCellDef>Competency</th>
        <td mat-cell *matCellDef="let element"><mat-progress-bar mode="determinate" value="{{element.percent_bar}}"></mat-progress-bar>
        </td>
   </ng-container>
  
    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="hover-details"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-row"></tr>
  </table>
  
        </div>
        
    </div>
</div>