@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
.pdfViewer{
  height: 148vh;
  width: 80vw;
  
}
.pdfViewer pdf-viewer{
    height:150vh;
}
.main{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    
}
.resume-title {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    background-color: #f0f0f0; /* Background color of the div */
    border: 1px solid #c0c0c0; /* Border color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Box shadow for the raised effect */
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding: 15px;
    
  }
  .resume-title button{
    width: 10vw;
    padding: 5px;
    font-size: 16px;
    font-weight: 400px;
    font-family:'Fira Sans', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    border:2px solid grey;
    border-radius: 30px;
    cursor: pointer;

  }
@media (max-width:800px) {
    .pdfViewer{
        height: 130vh;
        width: 80vw;
       
    }
    .pdfViewer pdf-viewer{
        height:  100vh;
        width: 90vw;
    }
    .main{
        display: flex;
        justify-content: center;
        margin: 1px;
    }
    .resume-title{
        font-size: 20px;
        font-weight: 400;
        padding: 2px;
    }
.resume-title {
    width: 50vw;
    height:auto ;
    
}
  .resume-title button{
    margin: 2px;
    font-size: 10px;
    border: 1px solid gray;
    border-radius: 200px;
    width: 30vw;
  }
}
