
<div class="main">
    <div class="box">
        <a href="assets/newResumeAyush.pdf"  download="newResumeAyush.pdf">
        <div class="resume-download" >
            
            <span id="user-name"> <i class="fa-solid fa-download"></i>  Download Resume </span> 
        </div></a>
        <h1>Resume Page is Under Construction Still you can Download Resume from Above button</h1>
           <h2>
            Thank you !
           </h2>
            <h2>
                Developed and Managed By : AYUSH KUMAR
            </h2>
    </div>
</div>