/* @import '~@fortawesome/fontawesome-free/css/all.css'; */
.main{
  width: auto;
  display: flex;
  justify-content: center;
}
.box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 80vw; /* Set the width as needed */
height: auto; /* Set the height as needed */
padding: 5px;
background-color: #8b1bc7; /* Set the background color of the div */
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
border-radius: 10px; /* Optionally, add rounded corners for a softer look */
margin: 40px; /* Add margin to create space between elements */
color: #e7d6f6;
}
.resume-download{
  cursor: pointer;
  border:3px solid white;
  margin: 20px;
  color: #e7d6f6;
  width: 170px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}
.resume-download:hover{
  background-color:  #e7d6f6;
  color: #8b1bc7 ;
}
a{
  text-decoration: none;
}

@media screen and (max-width:900px){
h1{
  text-align: center;
  font-size: 16px;
}
h2{
  text-align: center;
}
.box{
  width: 90vw;
}
}